extends layout

block content
  .content.browser
    .idle-page
      p Please enter your ID with mobile 
      .sk-folding-cube
        .sk-cube1.sk-cube
        .sk-cube2.sk-cube
        .sk-cube3.sk-cube
        .sk-cube4.sk-cube
    .loading-page.hidden
      p please wait for collecting image ...
    .image-page.hidden
      .instagram-image  

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
  script(src='js/socketconnect.js')