extends layout

block content 
  .content.mobile
    .loader-box.hidden
      .label LOADING ...
      .loader Loading
    .contents-box
      .title INSTAGRAM SCRAPPER
      .form-wrapper 
        form#initailize-form(action='/initialize-contents')
          input.block(type='text' id='instaID' name='instaID' placeholder='enter your ID')
          button(type='submit') START

    