extends layout

block content 
  .content.mobile
    .loader-box.hidden
      .label LOADING ...
      .loader Loading
    .contents-box
      .title INSTAGRAM SCRAPPER
      .form-wrapper 
        form#initailize-form(action='/initialize-contents')
          input.block(type='text' id='instaID' name='instaID' placeholder='Enter your ID')
          button(type='submit') START

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
  script(src='js/index.js')